.dropdown {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 3rem;
  &__header {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    @extend %flexCenter;
    img {
      width: 2rem;
      height: 70%;
      object-fit: cover;
    }
  }
  &__down {
    position: relative;
    margin-left: 10px;
    width: calc(1rem - 10px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__menu {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    &_active {
      visibility: visible;
      opacity: 1;
    }
    &:before {
      content: '';
      position: absolute;
      top: -9px;
      right: 30%;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      box-shadow: -2px -2px 3px rgba(0, 0, 0, .3);
    }
  }
  &__item {
    padding: .3rem 1rem;
    @extend %flexCenter;
    transition: all .3s;
    span {
      color: rgba(0, 0, 0, .7);
      font-weight: 500;
      font-size: 16px;
      margin-left: 5px;
    }
    img {
      width: 20px;
      opacity: .7;
    }
    &:hover {
      span {
        color: rgba(0, 0, 0, .8);
      }
      img {
        opacity: .8;
      }
    }
    &:active {
      span {
        color: rgba(0, 0, 0, 1);
      }
      img {
        opacity: 1;
      }
    }
  }
}

@import './media';