@media (max-width: 991px) {
  .navigation {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 545px) {
  .navigation {
    &__more {
      display: block;
    }
    &__list {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 3;
      flex-direction: column;
      justify-content: center;
      width: 75%;
      height: 100vh;
      background-color: rgba(36, 60, 126, .9);
      &_active {
        left: 0;
      }
    }
    &__item, &__link {
      width: 100%;
    }
  }
}

@media (max-width: 435px) {
  .navigation {
    &__more {
      display: block;
    }
    &__list {
      width: 100%;
    }
  }
}